body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;

}

.container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.movie-item {
    background-color: #444;
    height: 150px;
    border-radius: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-number {
    margin: 0 10px;
}